$color-orange: #F16718;
$color-orange-light: #FF9B62;
$color-black: #162542;
$color-gray: #7B8BAD;
$color-gray-light: #E8EFF2;
$primary-font: "Barlow Semi Condensed", serif;




$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


